@model OnlineShop.Web.ViewModels.Products.EditProductViewModel
@{
    ViewBag.Title = "Edit Product";
}
<div class="container" style="margin: 75px auto;">
    <div class="custom-form">
        <h3 style="margin-right: auto;">Create product</h3>
        <div class="row justify-content-center">
            <div class="custom-form-wrapper col-lg-7 col-md-12">
                <div class="custom-form-container">
                    <form asp-action="Edit" asp-controller="Products" method="post" enctype="multipart/form-data">
                        <div class="validation" asp-validation-summary="ModelOnly"></div>

                        <label asp-for="Name"></label>
                        <span asp-validation-for="Name"></span>
                        <input asp-for="Name" type="text" placeholder="Enter Name">

                        <label asp-for="Price"></label>
                        <span asp-validation-for="Price"></span>
                        <input asp-for="Price" placeholder="Enter Price">

                        <label asp-for="Size">Size of product</label>
                        <div class="select-custom">
                            <select asp-for="Size" asp-items="@Html.GetEnumSelectList<SizeProduct>()"></select>
                            <svg>
                                <use xlink:href="#select-arrow-down"></use>
                            </svg>
                        </div>

                        <label asp-for="BrandName"></label>
                        <span asp-validation-for="BrandName"></span>
                        <input asp-for="BrandName" placeholder="Enter Brand">

                        <label asp-for="Color">Color of product</label>
                        <div class="select-custom">
                            <select asp-for="Size" asp-items="@Html.GetEnumSelectList<ColorProduct>()"></select>
                            <svg>
                                <use xlink:href="#select-arrow-down"></use>
                            </svg>
                        </div>

                        <label asp-for="Description"></label>
                        <span asp-validation-for="Description"></span>
                        <input asp-for="Description" type="text" placeholder="Enter Description">

                        <div id="model-images">
                            @if (Model.Images != null)
                            {
                                @for (var i = 0; i < Model.Images?.Count; i++)
                                {
                                    @Html.CheckBoxFor(model => model.Images[i].IsRemoved, new {path_image = Model.Images[i].Image.Path, @class = "input-removed", style = "display:none;"})
                                    @Html.HiddenFor(model => model.Images[i].Image.Path)
                                    @Html.HiddenFor(model => model.Images[i].Image.Name)
                                    @Html.HiddenFor(model => model.Images[i].Image.Id)
                                }
                            }
                        </div>

                        <label asp-for="Files"></label>
                        <span asp-validation-for="Files"></span>
                        @await Component.InvokeAsync("ImageInput", false)
                        <input asp-for="Files" class="custom-file-input" multiple hidden="hidden" accept="image/png, image/gif, image/jpeg">


                        <svg class="sprites">
                            <symbol id="select-arrow-down" viewbox="0 0 10 6">
                                <polyline points="1 1 5 5 9 1"></polyline>
                            </symbol>
                        </svg>

                        <div class="button-box">
                            <button type="submit">
                                <span>Update Product</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>