@model Product
@{
    ViewBag.Title = $"{Model.Name} Description";
}
<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="@Url.ActionLink("Index", "Home")">Home</a>
                </li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
</div>
<div class="shop-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product-details">
                    <div class="product-details-img">
                        <div class="tab-content jump">
                            <div id="shop-details-2" class="tab-pane active large-img-style">
                                <img src="@Model.Images.FirstOrDefault().Path" alt="">
                                <div class="img-popup-wrap">
                                    <a class="img-popup" href="@Model.Images.FirstOrDefault().Path">
                                        <i class="pe-7s-expand1"></i>
                                    </a>
                                </div>
                            </div>
                            @foreach (var image in Model.Images.Skip(1))
                            {
                                <div id="shop-details-1" class="tab-pane large-img-style">
                                    <span class="dec-price">-10%</span>
                                    <div class="img-popup-wrap">
                                        <a class="img-popup" href="@image.Path">
                                            <i class="pe-7s-expand1"></i>
                                        </a>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product-details-content ml-70">
                    <h2>@Model.Name</h2>
                    <div class="product-details-price">
                        <span>@Model.Price</span>
                    </div>
                    <p>@Model.Description</p>
                    <div class="pro-details-size-color">
                        <div class="pro-details-color-wrap">
                            <span>Color</span>
                            <div class="pro-details-color-content">
                                <ul>
                                    @switch (Model.ColorProduct)
                                    {
                                        case ColorProduct.Blue:
                                            <li class="blue"></li>
                                            break;
                                        case ColorProduct.Black:
                                            <li class="maroon active"></li>
                                            break;
                                        case ColorProduct.Gray:
                                            <li class="gray"></li>
                                            break;
                                        case ColorProduct.Red:
                                            <li class="Red"></li>
                                            break;
                                        case ColorProduct.Yellow:
                                            <li class="yellow"></li>
                                            break;
                                        case ColorProduct.Green:
                                            <li class="green"></li>
                                            break;
                                        default:
                                            throw new ArgumentOutOfRangeException();
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="pro-details-size">
                            <span>Size</span>
                            <div class="pro-details-size-content">
                                <ul>

                                    @switch (Model.SizeProduct)
                                    {
                                        case SizeProduct.S:
                                            <li>
                                                <a href="#">s</a>
                                            </li>
                                            break;
                                        case SizeProduct.M:
                                            <li>
                                                <a href="#">m</a>
                                            </li>
                                            break;
                                        case SizeProduct.L:
                                            <li>
                                                <a href="#">l</a>
                                            </li>
                                            break;
                                        case SizeProduct.Xl:
                                            <li>
                                                <a href="#">xl</a>
                                            </li>
                                            break;
                                        case SizeProduct.Xxl:
                                            <li>
                                                <a href="#">xxl</a>
                                            </li>
                                            break;
                                        default:
                                            throw new ArgumentOutOfRangeException();
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="pro-details-quality">
                        <div class="cart-plus-minus">
                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="2">
                        </div>
                        <div class="pro-details-cart btn-hover">
                            <a href="#">Add To Cart</a>
                        </div>
                        <div class="pro-details-wishlist">
                            <a href="#">
                                <i class="fa fa-heart-o"></i>
                            </a>
                        </div>
                        <div class="pro-details-compare">
                            <a href="#">
                                <i class="pe-7s-shuffle"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>