@model Product
@{
    ViewBag.Title = $"{Model.Name} Description";
}
<div class="container" style="margin: 75px auto;">
    <div class="product-wrapper">
        <div class="row">
            <div class="col-lg-6 col-md-8 product-slider-wrapper">
                <div id="main-image" class="d-block w-100 product-slider-image" style="background-image: url(@Model.Images.FirstOrDefault().Path);"></div>
                <div class="modal fade" id="exampleModal" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-touch="true" data-bs-ride="carousel" data-bs-interval="false">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="d-block w-100 product-slider-image" style="background-image: url(@Model.Images.FirstOrDefault().Path);"></div>
                                    </div>
                                    @foreach (var image in Model.Images.Skip(1))
                                    {
                                        <div class="carousel-item">
                                            <div class="d-block w-100 product-slider-image" style="background-image: url(@image.Path);"></div>
                                        </div>
                                    }

                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <script>
      $(function (){
        var myInput = $('#main-image').click(function(){
          $('#exampleModal').modal('show');
        })
      })
    </script>
            <div class="col-lg-6 col-md-6">
                <div class="product-details-text">
                    <h2>@Model.Name</h2>
                    <div class="product-details-price">
                        <span>$@Model.Price</span>
                        <span class="old">$18.00</span>
                    </div>
                    <p>@Model.Description</p>
                    <div class="pro-details-size-color">
                        <div class="pro-details-color-wrap">
                            <span>Color</span>
                            <div class="pro-details-color-content">
                                <ul>
                                    @switch (Model.ColorProduct)
                                    {
                                        case ColorProduct.Blue:
                                            <li class="blue"></li>
                                            break;
                                        case ColorProduct.Black:
                                            <li class="maroon active"></li>
                                            break;
                                        case ColorProduct.Gray:
                                            <li class="gray"></li>
                                            break;
                                        case ColorProduct.Red:
                                            <li class="red"></li>
                                            break;
                                        case ColorProduct.Yellow:
                                            <li class="yellow"></li>
                                            break;
                                        case ColorProduct.Green:
                                            <li class="green"></li>
                                            break;
                                        default:
                                            throw new ArgumentOutOfRangeException();
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="pro-details-size">
                            <span>Size</span>
                            <div class="pro-details-size-content">
                                <ul>
                                    @switch (Model.SizeProduct)
                                    {
                                        case SizeProduct.S:
                                            <li>
                                                <a href="#">s</a>
                                            </li>
                                            break;
                                        case SizeProduct.M:
                                            <li>
                                                <a href="#">m</a>
                                            </li>
                                            break;
                                        case SizeProduct.L:
                                            <li>
                                                <a href="#">l</a>
                                            </li>
                                            break;
                                        case SizeProduct.Xl:
                                            <li>
                                                <a href="#">xl</a>
                                            </li>
                                            break;
                                        case SizeProduct.Xxl:
                                            <li>
                                                <a href="#">xxl</a>
                                            </li>
                                            break;
                                        default:
                                            throw new ArgumentOutOfRangeException();
                                    }
                                </ul>
                            </div>
                        </div>


                    </div>
                    <div class="pro-details-affiliate btn-hover">
                        <a href="#">Buy Now</a>
                    </div>
                    <div class="pro-details-meta">
                        <span>Brand: @Model.Brand.Name</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>